/* window size */
body{
    min-width: 820px;
    background-color:lightcoral;
}

/* top area styling */
#top_area_div {
    background-color: rgb(18, 25, 33);
    height: 50px;
    margin-top: -8px;
    width:102%;
    margin-left: -8px;
}


#top_area_div img {
    float: left;
    margin-left: -1px;
    margin-top: 7.5px;
}

#top_area_div input {
    float: left;
    margin: 7.4px 0px 0px 75px;
    font-size: 20px;
    height: 28px;
    width: 280px;
}

#top_area_inner_div {
    float: right;
    margin: 0px 5px;
}

#top_area_inner_div h3{
    float: left;
    color: white;
    margin: 16px 10px;
    font-size: 15px;

}

#top_area_inner_div img{
    float: left;
}

#top_area_div a{
    text-decoration: none;
    color: white;
}

/* 1st horizontal navigation bar */
#first_horizontal_nav_bar{
    height: 30px;
    width: 102%;
    clear: both;
    list-style-type: none;
    margin-left: -60px;
    margin-top: 0px;
}

#first_horizontal_nav_bar li{
    float: left;
    margin: 8px 25px;
}

/* all links */
#first_horizontal_nav_bar a{
    text-decoration: none;
    color: black;
}

/* 2nd horizontal navigation bar */
#second_horizontal_nav_bar {
    clear: both;
    list-style-type: none;
    padding: 20px;
}

#second_horizontal_nav_bar li{
    float: left;
    margin: 0px 10px;
}

/* main area */
#main_area{
    clear:both;
    list-style-type: none;
}

#main_area a{
    text-decoration: none;
    color: black;
}

#main_area li{
    float: left;
    width: 35%;
    margin: 20px
}

#main_area img{
    width: 100%;
}


#main_area span{
    vertical-align: super;
    font-size: 0.5em;
}

#main_area input{
    background-color: rgb(247, 247, 115);
    border: 1px black solid;
    border-radius: 10px;
    width: 70%;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

#main_area h3, #main_area h2, #main_area p{
    margin: 5px;
}